<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="board/layout/basic">
<th:block layout:fragment="title">
	<title>This page is a list page</title>
</th:block>

<!-- 특정게시물을 검색할 수 있는 영역 아직 안만듦 -->

<th:block layout:fragment="content">
	<div style="text-align: center;" class="table-responsive clearfix">
		<div
			style="display: inline-block; background-color: rgba(255, 255, 255, 0.7); margin-top: 1em; width: 50%; padding: 1em 1em 1em 1em;">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
						<th>조회 수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty( boardList )}"
						th:each="row:${boardList}">
						<td scope="row" th:text="${row?.postNumber}"></td>
						<!-- 번호 -->
						<td class="text-left"><a
							th:href="@{/board/view.do(postNumber=${row?.postNumber} )}"
							th:text="${row?.postTitle}"></a></td>
						<!-- 제목 -->
						<!-- 타임리프 GET 파라미터 추가 방식 -▶ /board/view.do( idx=${idx}, page=${page} ) -->
						<td th:text="${row?.userNumber}"></td>
						<!-- 작성자 -->
						<!-- <td th:text="${#temporals.format( row?.postInputdate, 'yyyy-MM-dd' )}"></td> -->
						<td th:text="${row?.postInputdate}"></td>
						<!--등록일 -->
						<td th:text="${row?.postViews}"></td>
						
					</tr>
					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<div class="btn_wrap text-right">
				<a th:href="@{/board/write.do}"
					class="btn btn-primary waves-effect waves-light">글쓰기</a>
			</div>
			<th:block layout:fragment="search">
				<form action="#" id="searchform-header"
					class="searchform js__toggle active pull-right">
					<input type="search" placeholder="Search..." class="input-search">
					<button class="mdi mdi-magnify button-search" type="submit">
						검색</button>
				</form>
			</th:block>


			<th:block layout:fragment="paging">
                <nav th:replace="board/fragments/common :: pagination"></nav>
            </th:block>
        </div>
    </div>


</th:block>
    
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            function movePage(uri, queryString) {
                location.href = uri + queryString;
            }
            
            function searchBoard(form) {
                /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
                if (isEmpty(form) == true) {
                    var searchKeyword = document.getElementById("mainSearchKeyword");
                    if (isEmpty(searchKeyword.value) == true) {
                        alert("키워드를 입력해 주세요.");
                        searchKeyword.focus();
                        return false;
                    }

                    form = document.getElementById("searchForm");
                    form.searchKeyword.value = searchKeyword.value;
                    form.submit();
                }

                if (isEmpty(form.searchKeyword.value) == true) {
                    alert("키워드를 입력해 주세요.");
                    form.searchKeyword.focus();
                    return false;
                }
            }
            /*[- end of function -]*/

            /*]]>*/
        </script>
    </th:block>
</html>