<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  BoardMapper 인터페이스와 SQL 문의 연결 -->

<mapper namespace="com.board.mapper.BoardMapper">

	<sql id="boardColumns">
		  post_number 
		, board_number 
		, post_title
		, post_contents
		, post_inputdate
		, post_corrent
		, post_deletedate
		, post_recommend
		, post_views
		, post_state
		, user_number 
	
	</sql>

	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO POST_TB (
			<include refid="boardColumns" />
		) VALUES (
			  #{post_number}
			, #{board_number} 
			, #{post_title}
			, #{post_contents}
			, NOW()
			, NULL
			, NULL
			, 0
			, 0
			, IFNULL(#{post_state}, '1')
		    , #{user_number} 
			
	
		)
	</insert>

	<!--  게시물작성시 모든 칼럼 대입  -->
	
	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			POST_TB
		WHERE
			post_state = '1'
		AND
			post_number = #{post_number}
	</select>
	<!-- 게시물 선택시 해당 게시물번호 & 게시글 상태 1  -->

	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE POST_TB
		SET
			  post_corrent = NOW()  
			, post_title = #{post_title}  
			, post_contents = #{post_contents} 
			, post_deletedate = #{post_deletedate}  
			, post_recommend = #{post_recommend}
			, post_views = #{post_views}
			, post_state = IFNULL(#{post_state}, '1')
		WHERE
			post_number = #{post_number}
	</update>
	  <!-- 수정시 수정일 지금날짜로 바꾸고 나머지 동일하게    -->
	
	<update id="deleteBoard" parameterType="long">
		UPDATE POST_TB
		SET
			  post_state = '0'
			, post_deletedate = NOW()
		WHERE
			post_number = #{post_number}
	</update>
	
	<!-- 게시물 삭제시 게시물상태 0 변경 & 게시물삭제일 현재시간으로   -->


	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
			<!-- <include refid="boardColumns" /> -->
		  post_number 
		, post_title
		, post_inputdate
		, post_views
		, user_number
		,post_state 
		FROM
			POST_TB
		WHERE
			post_state = '1'
		ORDER BY
			post_state ASC,
			post_number DESC,
			post_inputdate DESC
	</select>
	<!-- 리스트 출력시 게시글 상태 1 & 게시글 번호 내림차순 & 게시글 입력일 내림차순  -->

	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			POST_TB
		WHERE
			post_state = '1'
	</select>
	<!--  게시글 상태 1 인 총 게시글 개수  -->

</mapper>