<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  BoardMapper 인터페이스와 SQL 문의 연결 -->

<mapper namespace="com.board.mapper.BoardMapper">

	<sql id="boardColumns">

		  post_number 
		, board_number 
		, post_title 
		, post_contents 
		, post_inputdate
		, post_corrent
		, post_deletedate 
		, post_recommend 
		, post_views 
		, post_state
		, user_number
	<!--  여기는 db 칼럼명과 일치시킴-->
	
	</sql>

	<insert id="insertBoard" parameterType="BoardDTO">

		INSERT INTO POST_TB (
			<include refid="boardColumns" />
		) VALUES (
			  #{postNumber }
			, #{boardNumber } 
			, #{postTitle}
			, #{postContents}
			, NOW()
			, NULL
			, NULL
			, 0
			, 0
			, IFNULL(#{postState}, '1')
		    , #{userNumber} 
			
	<!--  데이터베이스 칼럼명그대로 boardColumns에 스네이크케이스   -->
	<!-- 입력할 데이터들은 dao 에서 선언한 카멜케이스 불렀음  -->
	<!-- 둘이 같지않아도 되나보네-->
		)
		
	</insert>

	<!--  게시물작성시 모든 칼럼 대입  -->
	
	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			POST_TB
		WHERE
			post_state = '1'
		AND
			post_number = #{postNumber}
	</select>
	<!-- 게시물 선택시 해당 게시물번호 & 게시글 상태 1  -->

	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE POST_TB
		SET
			  post_number = #{postNumber}
		    , board_number = #{boardNumber}
			, post_title = #{postTitle}  
			, post_contents = #{postContents} 
			, post_corrent = NOW()  
			, post_recommend = #{postRecommend}
			, post_views = #{postViews}
			, post_state = IFNULL(#{postState}, '1')
			, user_number = 1
			
		WHERE
			post_number = #{postNumber}
	</update>
	  <!-- 수정시 수정일 지금날짜로 바꾸고 나머지 동일하게    -->
	
	<update id="deleteBoard" parameterType="long">
		UPDATE POST_TB
		SET
			  post_state = '0'
			, post_deletedate = NOW()
		WHERE
			post_number = #{postNumber}
	</update>
	
	<!-- 게시물 삭제시 게시물상태 0 변경 & 게시물삭제일 현재시간으로   -->


	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
	<![CDATA[
		SELECT
		
			
		  post_number as postNumber
		, post_title as postTitle
		, post_inputdate as postInputdate
		, post_views as postViews
		, user_number as userNumber
		,post_state as postState
		FROM
			POST_TB
		WHERE
			post_state = '1'
		ORDER BY
			post_state ASC, 
			post_number DESC,
			post_inputdate DESC
		]]>
	</select>
	<!-- 리스트 출력시 게시글 상태 1 & 게시글 번호 내림차순 & 게시글 입력일 내림차순  -->

	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			POST_TB
		WHERE
			post_state = '1'
	</select>
	<!--  게시글 상태 1 인 총 게시글 개수  -->

</mapper>